{% include 'asuca/header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/home.js' %}"></script>


<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<script>
    var status = 0;
    {% if uname %}
        var status = 1;
    {% endif %}
</script>


<body onload="login_status(status)">
    {% include 'asuca/base.html' with active_tab='home' %}
    <div class="container bold-my-labels">
    {% if uname %}
        <h3>Hi <b>{{ uname }},</b></h3>
    {% endif %}
    </div>
<form action="/search/" method="post" id="search_c">{% csrf_token %}
    <div class="container bold-my-labels">
        <h4>Search for the <b style="color: green">Fall 2017</b> courses availability below:<br></h4>
        <hr>
        {{ form }}
    </div>
    <br>
    <div class="container bold-my-labels">
          <button class="btn btn-primary btn-lg" type="submit">Get Current Status</button>
    </div>
</form>

</body>
</html>