<!DOCTYPE html>
<html lang="en">
<head>
</head>

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="{% static 'js/login.js' %}"></script>

<body>
  <form action="/login/" method="post" id="login">{% csrf_token %}
      {{ Error }}
      <div class="container bold-my-labels">
        {{ login_form }}
      </div>
      <div>
          <input type="checkbox" checked="checked"> Remember me
      </div>
      <div>
          <button type="submit">Login</button>
          <button type="submit" onclick="location.href='{% url 'signupUser' %}'">Sign Up</button>
      </div>
      <div>
          <a href="#">Forgot password?</a>
      </div>
  </form>

</body>
</html>