.container {
        width: 500px;
        clear: both;
        font-weight:bold;
        font-size: larger;
    }

.container input {
        width: 50%;
        clear: both;
    }

.container.bold-my-labels label{
    font-weight:bold;
    align-content: center;
    }

.floatleft {
    float:left;
}

.floatright {
    float:right;
}

.content {
    max-width: 500px;
    margin: auto;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #428bca;
}